<%- include("header")   -%>


    <center>
     <h1> succesfully updated attendance to database</h1>
     <br />
     
     <a href="/"><h1>HOME</h1></a>

     </center>

     <%- include("footer") -%>
