 <%- include("header") -%>

  <center>

    <h1> take face recgnition here for course <%=coursename %></h1>
    <br>

    <a href="/takephoto">  <h1>  takephoto-for-testing  </h1>  </a>

    <a href="/index"> <h1>take-attendance-facerecognition </h1> </a>


    </center>



 <%- include("footer") -%>
