<%- include("header") -%>

<center>
<h1>my courses are</h1>

    <%  rows.forEach(function(course){ %>
      <ul>
        <li><h1><%=course.coursename%></h1></li>
      </ul>
      <% }) %>


<h1>rferkfkuerbuh</h1>
</center>




<%- include("footer") -%>
