<!DOCTYPE html>
<html>
    <head>
        <title>Teacher Signup form</title>
    </head>
    <body>
        <center>
            <h3>Teacher SignUp</h3>
            <form action="/teacher-signup" method="POST">
                <table>
                    <tr>
                        <td>Name:</td>
                        <td>
                            <input type="text" name="teacher_name" placeholder="Enter your name">
                        </td>
                    </tr>
                    <tr>
                        <td>Id:</td>
                        <td>
                            <input type="text" name="teacher_id" placeholder="Enter your id">
                        </td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td>
                            <input type="radio" name="gender" value='male'>Male
                            <input type="radio" name="gender" value='female'>Female
                            <input type="radio" name="gender" value='others'>Others
                        </td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td>
                            <input type="password" name="teacher_password">
                        </td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>
                            <input type="phone" name="teacher_ph" placeholder="98********" maxlength="10">
                        </td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>
                            <input type="email" name="teacher_email" placeholder="a***@gmail.com">
                        </td>
                    </tr>
                    <tr>
                    <tr>
                        <td>
                            <input type="submit" name="submit" value="SignUp">
                        </td>
                        <td>
                        Already signed in? <a href="TeacherLogin.html">Log in here</a>
                        </td>
                    </tr>
                </table>
            </form>
        </center>
    </body>
</html>
